<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'scaleDict.title' | translate:params }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label>{{ 'scaleDict.root' | translate:params }}</ion-label>
      <ion-select interface="popover" [(ngModel)]="selectedRootName" (ionChange)="rootOrTypeChanged()" okText="OK" cancelText="Annuler">
        <ion-select-option *ngFor="let root of roots" value="{{root.name[selectedLanguage]}}">{{ root.name[selectedLanguage] }}</ion-select-option>
      </ion-select>

      <ion-label>{{ 'scaleDict.type' | translate:params }}</ion-label>
      <ion-select interface="popover" [(ngModel)]="selectedTypeName" (ionChange)="rootOrTypeChanged()" okText="OK" cancelText="Annuler">
        <ion-select-option *ngFor="let elementName of elementNames" value="{{elementName.name[selectedLanguage]}}">{{ elementName.name[selectedLanguage] }}</ion-select-option>
      </ion-select>

      <ion-row>
        <ion-col id="element-notes" class="ion-text-center">
          <ion-label *ngIf="!hasErrors">{{ elementnotesString }}</ion-label>
          <ion-label color="danger" *ngIf="hasErrors">{{ 'scaleDict.errorMsg' | translate:params }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
