<ion-header>
  <ion-toolbar>
    <ion-title>Dictionnaire d'accords</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Dictionnaire d'accords</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-select value="C" okText="OK" cancelText="Annuler">
        <ion-select-option value="C">C</ion-select-option>
        <ion-select-option value="C#">C#</ion-select-option>
        <ion-select-option value="Db">Db</ion-select-option>
        <ion-select-option value="D">D</ion-select-option>
      </ion-select>

      <ion-select value="(majeur)" okText="OK" cancelText="Annuler">
        <ion-select-option value="(majeur)">(majeur)</ion-select-option>
        <ion-select-option value="m">m</ion-select-option>
        <ion-select-option value="dim">dim</ion-select-option>
        <ion-select-option value="aug">aug</ion-select-option>
      </ion-select>

      <ion-row>
        <ion-col width="100" class="ion-text-center">
          <ion-label color="primary">C E G</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
